:root{
    --main-color: #0E152C;
    --main-alt-color: #0A0F20;
    --alpha : 0.8;
    --main-transparent-color: rgba(var(--main-color),0.5);
    --main-color-alt: #1787e0;
    --alt-transparent-color: rgba(var(--main-color-alt),0.5);
    --sec-color : #F1EEFF;
    --grey-color: #F1EEFF;
    --eligant-gold:#845F38;
    --blue-transparent-color: rgba(0, 119, 255, 0.2);
    --orange-color: #845F38;
    --gray-section-background : #eee;
    --hover-gray-color : #fafafa;
    --border-gray-color : #e9e6e6;
    --special-heading : #ebeced;
    --shadow: 0 0 10px var(--main-color);
    --transition-duration: 0.3s;
}
@font-face {
    font-family: 'font-bold';
    src: url(../fonts/JannatLT-bold.ttf);
}
@font-face {
    font-family: 'font-reguler';
    src: url(../fonts/JannatLT-normal.ttf);
}
.bold-title{
    font-family: 'font-bold','Open Sans', sans-serif;
}
.normal-text{
    font-family: 'font-bold','Open Sans', sans-serif;
}
.opacity{
    opacity: 0;
}
.bounce-left:hover{
    animation: bouncing-left 2s infinite;
    color: var(--orange-color);
}
@keyframes bouncing-left {
    
    0%,100%{
        transform: translateX(0px);

    }
    50%{
        transform: translateX(-20px);
    }
}
body{
    font-family: 'font-reguler','Open Sans', sans-serif;
}
.nav-bar{
    z-index: 1000;
}
.nav-bar .logo img{
    height: 50px;
}
.nav-bar .burger-bars{
    display: none;
    cursor: pointer;
}
.nav-bar .arrow i{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.nav-bar .lang{
    border-right: 2px solid white;
}
.nav-bar .search i{
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
}
.nav-bar .search .search-input {
    direction: rtl;
    width: 400px;
}
.nav-bar .search .search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'font-reguler','Open Sans', sans-serif;
}
.nav-bar .links li a:hover,
.nav-bar .links li a.active{
    color: var(--main-color);
}
.mainbg{
    top: 50%;
    left: 50%;
    width: 150%;
    /* height: 100%; */
    opacity: 0.1;
    transform: translate(-50%, -50%);
}
main h1{
    font-size: 3rem;
    width: 50%;
}
main p{
    width: 60%;
}
.image-slider .arrows i{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.image-slider .left-arrow.active,
.image-slider .right-arrow.active{
    color: var(--orange-color);
    border-color: var(--orange-color);
}
.image-slider .slider h1{
    font-size: 3rem;
    width: 50%;
}
.image-slider .slider p{
    width: 60%;
}
.image-slider .slider .letter{
    width: 200px;
    height: 200px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.features h1{
    font-size: 3rem;
}
.features input{
    display: none;
}
.features .cards{
    height: 400px;
}
.features #s1:checked~.cards #slide3,
.features #s2:checked~.cards #slide1,
.features #s3:checked~.cards #slide2
{
    height: 300px;
    width: 300px;
    z-index: 1;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.features #s1:checked~.cards #slide3 .title,
.features #s2:checked~.cards #slide1 .title,
.features #s3:checked~.cards #slide2 .title,
.features #s1:checked~.cards #slide2 .title,
.features #s2:checked~.cards #slide3 .title,
.features #s3:checked~.cards #slide1 .title
{
    display: none;
}

.features #s1:checked~.cards #slide3 img,
.features #s2:checked~.cards #slide1 img,
.features #s3:checked~.cards #slide2 img,
.features #s1:checked~.cards #slide2 img,
.features #s2:checked~.cards #slide3 img,
.features #s3:checked~.cards #slide1 img
{
    height: 300px;
}
.features #s1:checked~.cards #slide2,
.features #s2:checked~.cards #slide3,
.features #s3:checked~.cards #slide1
{
    height: 300px;
    width: 300px;
    z-index: 1;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.features #s1:checked~.cards #slide1,
.features #s2:checked~.cards #slide2,
.features #s3:checked~.cards #slide3
{
    width: 400px;
    height: 400px;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.features #s1:checked~.cards #slide1 .title,
.features #s2:checked~.cards #slide2 .title,
.features #s3:checked~.cards #slide3 .title
{
    font-size: 1.5rem;
    display: block;
}
.features #s1:checked~.cards #slide1 img,
.features #s2:checked~.cards #slide2 img,
.features #s3:checked~.cards #slide3 img
{
    height: 400px;
}
.features .cards label
{
    transition: 0.5s ease;
    
    background-image:linear-gradient(to top ,#21233A99,var(--main-color)) ;
}
.features .cards label img
{
    height: 400px;
}

.features .cards label .image .title
{
    bottom: 0;
    width: 100%;
}

.team h1{
    font-size: 3rem;
}
.team input{
    display: none;
}
.team .cards{
    height: 400px;
}
.team .cards label .image
{
    height: 400px;
}
.team .cards label .image img
{
    object-fit: cover;
    height: 300px;
}
.team .cards label .image .title
{
    bottom: 0;
    width: 100%;
}


.team #s4:checked~.cards #slide6,
.team #s5:checked~.cards #slide4,
.team #s6:checked~.cards #slide5
{
    width: 250px;
    z-index: 1;
    left: 23%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.team #s4:checked~.cards #slide6 .image,
.team #s5:checked~.cards #slide4 .image,
.team #s6:checked~.cards #slide5 .image,
.team #s4:checked~.cards #slide5 .image,
.team #s5:checked~.cards #slide6 .image,
.team #s6:checked~.cards #slide4 .image
{
    height: 350px;
}
.team #s4:checked~.cards #slide6 .image img,
.team #s5:checked~.cards #slide4 .image img,
.team #s6:checked~.cards #slide5 .image img,
.team #s4:checked~.cards #slide5 .image img,
.team #s5:checked~.cards #slide6 .image img,
.team #s6:checked~.cards #slide4 .image img
{
    height: 250px;
}

.team #s4:checked~.cards #slide5,
.team #s5:checked~.cards #slide6,
.team #s6:checked~.cards #slide4
{
    /* height: 250px; */
    width: 250px;
    z-index: 1;
    left: 77%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.team #s4:checked~.cards #slide4,
.team #s5:checked~.cards #slide5,
.team #s6:checked~.cards #slide6
{
    width: 300px;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.team #s4:checked~.cards #slide4 .title,
.team #s5:checked~.cards #slide5 .title,
.team #s6:checked~.cards #slide6 .title
{
    font-size: 1.5rem;
    display: block;
}

/* .team #s4:checked~.cards #slide4 img,
.team #s5:checked~.cards #slide5 img,
.team #s6:checked~.cards #slide6 img
{
    height: 300px;
} */

.team .cards label
{
    transition: 0.5s ease;
    background-image:linear-gradient(to top ,#21233A99,var(--main-color)) ;
}


.testomonials input{
    display: none;
}
.testomonials .top-rad{
    border-top-left-radius: 40px;
}
.testomonials .end-rad{
    border-bottom-left-radius: 40px;
}
.testomonials .both-test .right-test,
.testomonials .both-test .left-test
{
    width: 50%;
    height: 400px;
}
.testomonials .both-test .right-test .cards label,
.testomonials .both-test .left-test .cards label
{
    width: 50%;
    height: 100%;
    transition: 0.5s ease;
}
.testomonials #s8:checked~.cards #slide8,
.testomonials #s7:checked~.cards #slide7,
.testomonials #s9:checked~.cards #slide9,
.testomonials #s10:checked~.cards #slide10
{
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}
.testomonials #s8:checked~.cards #slide7,
.testomonials #s7:checked~.cards #slide8,
.testomonials #s9:checked~.cards #slide10,
.testomonials #s10:checked~.cards #slide9
{
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.testomonials .quote{
    text-align: left;
}
.stats .bg {
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    /* fill: var(--main-color); */
    opacity: 0.4;
    z-index: 0;
}
.stats h1{
    font-family: 'font-bold';
    font-weight: bold;
    font-size: 4rem;
}
.stats .box{
    border-right: 3px solid var(--main-color);
}
.stats .counters{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.services .right h1{ 
    font-size: 3rem;
}
.services .left{
    /* height: 600px; */
    height: 140vh;
    overflow-y: auto;
}

.services .image-container{
    width: 100%;
    height: 350px;
}
.services img{
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
.services .left::-webkit-scrollbar-track{
    display: none;
}
.services .left::-webkit-scrollbar-thumb{
    display: none;
}
.contact{
    background-image: url(../images/pattern\ 2\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}
.contact .contact-form input{
    width: 50%;
    /* background-color: transparent; */
}
.contact .contact-form input,
.contact .contact-form textarea{
    /* width: 50%; */
    background-color: transparent;
}
.customers {
    overflow: hidden;
}
.customers .customer-slider {
    width: calc(200px * 14);
    animation: scroll 10s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(49%);
    }
}
.customers .customer-slider .single-img{
    width: 200px;
    height: 100px;
}
.customers .customer-slider .single-img img{
    max-width: 100%;
    max-height: 100%;
}
.contact .contact-form input::placeholder ,
.contact .contact-form textarea::placeholder {
    color: white;
    font-family: 'font-reguler','Open Sans', sans-serif;
}
.contact .big-logo .absolute{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.contact .big-logo img{
    /* width: 50%; */
}
.old-image-slider .slider img{
    height: 100%;
    width: 100%;
}
.join a{
    border-bottom: 1px solid white;
}
.join h3{
    font-size: 2rem;
}
footer .middle,
footer .left {
    border-right: 1px solid white;
}
footer .left {
    text-align: left;
}
footer .middle a{
    width: 20px;
    height: 20px;
}
footer p{
    width: 50%;
}

h2{
    font-size: 2rem;
}
canvas{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    /* background-color: transparent; */
}
.inside1,
.inside2,
.inside3{
    transform: translateY(140%);
    /* overflow: hidden; */
}
.right{
    transform: translateX(800px);
}
/* -------------------------------------------------------- Start Media Queries ------------------------------------------------- */
@media (min-width:576px) { /* small devices => landscape phones */
    
}
@media (min-width:768px) { /* medium Devices => Tablets */
    
}
@media (min-width:992px) { /* Desktops */
    
}
@media (min-width:1200px) { /* Large Screens */
    
}

@media (max-width:991px) { /* Desktops */
    
}
@media (max-width:991px){
    .nav-bar .container{
        flex-direction: column-reverse;
    }
    .image-slider .slider .letter{
        width: 150px;
        height: 150px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .features .cards{
        height: 300px;
    }
    .features .cards label{
        max-height: 100%;
    }
    .features .cards label .image{
        max-height: 100%;
        overflow: hidden;
    }
    .features .cards label .image img{
        max-height: 100%;
    }
    main h1,
    .image-slider .slider h1,
    .features h1,
    .services .right h1{
        font-size: 2rem;
    }
    main h1,
    .image-slider .slider h1,
    .image-slider .slider p{
        width: 100%;
        text-align: center;
    }
    .team .cards label{
        max-height: 250px;
        bottom: 0;
    }
    .team .cards label .image{
        /* max-height: 100%; */
        height: 300px;
    }
    .team .cards label .image img{
        max-height: 150px;
    }
    .testomonials .both-test{
        flex-direction: column;
    }
    .testomonials .both-test .right-test, .testomonials .both-test .left-test{
        width: 100%;
    }
}
@media (max-width:767px) {
    .image-slider .slider .letter{
        bottom: 0;
        left: 20%;
        top: 60%;
        transform: translate(-50%,0);
        width: 20%;
        opacity: 0.3;
    }
    p{
        width: 60%;
        margin: 0 auto;
        font-size: 15px;
    }
    .inside1,
    .inside2,
    .inside3{
        transform: translateY(0);
        /* overflow: hidden; */
    }
    .right{
        transform: translateX(0);
    }
    .services .image-container{
        height: 200px;
    }
    .team .cards{
        height: 200px;
        /* max-width: 100%; */
    }
    .team #s4:checked~.cards #slide4,
    .team #s5:checked~.cards #slide5,
    .team #s6:checked~.cards #slide6
    {
        width: 200px;
        /* height: 400px; */
        z-index: 10;
        left: 50%;
        top: 0;
    }
    .team #s4:checked~.cards #slide6,
    .team #s5:checked~.cards #slide4,
    .team #s6:checked~.cards #slide5
    {
        /* height: 200px; */
        width: 200px;
        z-index: 1;
        left: 20%;
        top: 0;
    }
    .team #s4:checked~.cards #slide5,
    .team #s5:checked~.cards #slide6,
    .team #s6:checked~.cards #slide4
    {
        width: 150px;
        z-index: 1;
        left: 80%;
        top: 0;
    }
    /* .team .cards label .image{
        width: 150px;
    } */
    .contact .big-logo .absolute{
        bottom: -20%;
        left: 50%;
        transform: translate(-50%,0);
        opacity: 0.2;
    }
    .testomonials .both-test .right-test, .testomonials .both-test .left-test{
        width: 100%;
    }
    .testomonials{
        height: fit-content;
    }
    .stats .first,
    .stats .box:not(:last-child){
        border: none;
        border-bottom: 3px solid var(--main-color);
    }
    .stats .box:last-child{
        border: none;
    }
    .old-image-slider .slider img{
        height: 100%;
        width: fit-content;
        /* object-fit: cover; */
    }
    footer .middle, footer .left{
        border: none;
        border-top: 1px solid white;
    }
}

